/* globales */

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER  */
.header_bg {
  width: 100%;
  height: 76.8rem;
}

.navegacion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem 2rem 2rem;
  margin-bottom: 10rem;
}
/* H1 LOGO */
.brand {
  font-size: 3.4rem;
  text-transform: uppercase;
}
/* NAVEGACION */
.nav ul {
  display: flex;
  gap: 2rem;
}

.nav ul li a {
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

/* TEXTO SOBRE EL BACKGROUND */
.container_header {
  width: 62.7rem;
  height: 40%;
  margin-left: 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container_header h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.container_header p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* CALL TO ACTION */
.btn-products {
  width: 50%;
  display: flex;
  gap: 1.3rem;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.btn-products img {
  width: 2rem;
}

/* BANNER */

.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h2 {
  font-size: 4rem;
}

.text_banner {
  margin-top: 2rem;
  width: 50%;
  text-align: center;
}

.text_banner p {
  font-size: 1.4rem;
}



.container_whoami {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  height: 595px;
  gap: 4rem;
  margin-top: 10rem;
}

.whoami {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-left: 7%;
  padding-right: 12rem;
}
.whoami_img{
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
.whoami h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.whoami p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.container_products{
  width: 100%;
  height: 695px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  gap: 4rem;
}

.container_products h2 {
  margin-bottom: 2rem;
  font-size: 4rem;
}

.carrousell_products{
  width: 100% ;
  height: 350px;
  padding-left: 6rem;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.carrousell_products::-webkit-scrollbar {
  display: none;
}

.product{
  display: inline-block;
  width: 315px;
  height: 300px;
  background-color: whitesmoke;
  margin:  2rem;
}

.container_instagram{
  width: 100%;
  height: 695px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instagram_icon{
  margin: 2rem auto;
}
.images_container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.container_instagram h2{
  margin-bottom: 2rem;
  font-size: 4rem;
}
.instagram_img{
  width: 524px;
  height: 454px;
  background-color: whitesmoke;
}

footer{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #7f7f7f;
  padding: 5rem;
  color: #fff;
  font-size: 1.5rem;
}