/* globales */

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER  */
.header_bg {
  background-image: url(/img/monica1.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70rem;
}

.navegacion {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 2rem 2rem;
  margin-bottom: 10rem;
  background-color: #bb3213;
  color: white;
}

.brand {
  font-size: 3.4rem;
  text-transform: uppercase;
}
/* NAVEGACION */
.nav ul {
  display: none;
}

@media (min-width: 768px) {
  .nav ul {
    flex-direction: row;
  }
}

.nav ul li a {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  font-family: "Farsan", cursive;
  font-size: 3rem;
  color: white;
}

/* TEXTO SOBRE EL BACKGROUND */
.container_header {
  width: 95%;
  max-width: 120rem;
  height: 40%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container_header h1 {
  margin-bottom: 2rem;
  font-family: "Farsan", cursive;
  font-size: 4rem;
  color: white;
  text-shadow: 1px 1px 1px rgb(57, 56, 56);
}

.container_header p {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  font-family: "Farsan", cursive;
  color: white;
  text-shadow: 1px 1px 1px rgb(57, 56, 56);
}

.info {
  width: 100%;
  background-color: #bb3213;
  color: white;
  display: grid;
  grid-template-columns: 1;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.text-info {
  width: 100%;
  padding: 0.2rem;
  font-family: "Farsan", cursive;
  color: white;
}

.text-info h3 {
  font-size: 3.5rem;
  color: white;
}

.text-info p {
  font-size: 2rem;
  margin: 2rem 0 2rem 0;
  color: white;
}
.img-me {
  padding: 2rem;
  width: 100%;
  height: 100%;
}

.efect {
  margin-top: -5rem;
  width: 100%;
  height: 5rem;
  background-color: white;
  clip-path: polygon(50% 46%, 0% 100%, 100% 100%);
}

.subtitle {
  text-align: center;
  font-size: 3rem;
  font-family: "Farsan", cursive;
  color: #bb3213;
  text-shadow: 1px 1px 1px #7f7f7f;
}

/* galeria */

.galery {
  width: 95%;

  margin: 2rem auto 2rem auto;
}

.galery img {
  height: 30rem;
  margin-top: 2rem;
}

/* footer */
.ig {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Farsan", cursive;
}

.ig p {
  color: white;
}

.ig img {
  width: 1.5rem;
  filter: invert(100%);
}

footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #bb3213;
  padding: 0.5rem;
  color: #fff;
  font-size: 1.8rem;

  font-family: "Farsan", cursive;
}

footer p {
  font-size: 1.4rem;
}

footer span {
  font-size: 1.4rem;
}

/* class item */
.item {
  padding: 0.2rem;
  color: #fff;
  position: relative;
}

.item:before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s;
}

.item:hover:before {
  width: 100%;
}

/* mediaquerys */

@media (min-width: 768px) {
  .text-info h3 {
    font-size: 4.5rem;
  }
  .text-info p {
    font-size: 2.5rem;
  }
  .subtitle {
    font-size: 6rem;
  }
  .galery {
    width: 50%;
  }

  .galery img {
    height: 30rem;
    margin-top: 2rem;
  }

  .ig img {
    width: 3rem;
  }
  .info {
    grid-template-columns: repeat(2, 1fr);
  }
  .container_header h1 {
    font-size: 10rem;
  }
  .container_header p {
    font-size: 4.8rem;
  }

  footer p {
    font-size: 1.8rem;
  }
  footer span {
    font-size: 1.8rem;
  }

  footer {
    padding: 5rem;
  }
}

@media (min-width: 768px) {
  .navegacion {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 10rem 2rem 2rem;
  }
  .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
