/* globales */

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER  */
.header_bg {
  width: 100%;
  height: 76.8rem;
}

.navegacion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem 2rem 2rem;
  margin-bottom: 10rem;
}
/* H1 LOGO */
.brand {
  font-size: 3.4rem;
  text-transform: uppercase;
}
/* NAVEGACION */
.nav ul {
  display: flex;
  gap: 2rem;
}

.nav ul li a {
  font-size: 2rem;
}

/* TEXTO SOBRE EL BACKGROUND */
.container_header {
  width: 62.7rem;
  height: 40%;
  margin-left: 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container_header h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.container_header p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* CALL TO ACTION */
.btn-products {
  width: 50%;
  display: flex;
  gap: 1.3rem;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.btn-products img {
  width: 2rem;
}

/* BANNER */

.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h2 {
  font-size: 4rem;
}

.text_banner {
  margin-top: 2rem;
  width: 50%;
  text-align: center;
}

.text_banner p {
  font-size: 1.4rem;
}
